{% extends "MyWeb/base.html" %}

{% block 标题%}
    电影
{% endblock 标题%}

{% block 主体 %}

{% if 警告%}
<div class="alert alert-waring alert-dismissible fade show center" role="alert">
    <strong>{{警告}}</strong> 
    <button type="button" class="card" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if 信息%}
<div class="alert alert-waring alert-dismissible fade show center" role="alert">
    <strong>{{信息}}</strong> 
    <button type="button" class="card" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}


<div>
    {% if posts.has_previous %}
        <a href="/movie?page={{posts.previous_page_number}}">上一页</a>
    {% endif%}

    <!--{% for num in posts.paginator.page_range %}
        <a href="/movie?page={{num}}">{{num}}</a>
    {% endfor %}
    -->

    {% if posts.has_next %}
        <a href="/movie?page={{posts.next_page_number}}">下一页</a>
    {% endif%}
</div>
<div class="row">   
<table class="table table-bordered ">
  <caption>基本的表格布局</caption>
  <thead>
    <tr class="table-secondary text-center">
        <th>序号</th>
        <th hidden>id</th>
        <th>标题</th>
        <th>链接</th>
        
    </tr>
  </thead>
  <tbody>
      {% for theone in posts.object_list %}
      <tr class="text-center ">
        <td>{{ forloop.counter}}</td>
        <td hidden>{{ theone.videoid }}</td>
        <td>{{ theone.videotitle }}</td>
        <td>
            {#<a href="{{ theone.videolink }}">链接</a>#}
                <button type="submit" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal"  onclick="setlink('{{ theone.videolink }}')">链接</button>
        </td>
        
     {% endfor %}
    

  </tbody>
</table>

        
        
        
        
        
<!-- 模态框 -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
 
          <!-- 模态框头部 -->
          <div class="modal-header">
            <h4 class="modal-title">分割链接</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
 
          <!-- 模态框主体 -->
          <div class="modal-body">
            <form method="POST" action="">
                {% csrf_token %}
                
                <textarea style="margin:0 auto" id="modal_link">
link
</textarea>
            </form>
          </div>
 
          <!-- 模态框底部 -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
<!-- 模态框end -->


        
</div>
<script>
    function setlink(link) {
        console.log(link);
        $("#modal_link").text(link);        
    }
</script>
{% endblock 主体 %}