{% extends "MyWeb/base.html" %}

{% block 标题%}
    电影
{% endblock 标题%}

{% block 主体 %}

{% if 警告%}
<div class="alert alert-waring alert-dismissible fade show center" role="alert">
    <strong>{{警告}}</strong> 
    <button type="button" class="card" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if 信息%}
<div class="alert alert-waring alert-dismissible fade show center" role="alert">
    <strong>{{信息}}</strong> 
    <button type="button" class="card" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}



    <div class="row">   
<table class="table table-bordered ">
  <caption>基本的表格布局</caption>
  <thead>
    <tr class="table-secondary text-center">
        <th>序号</th>
        <th hidden>id</th>
        <th>标题</th>
        <th>链接</th>
        
    </tr>
  </thead>
  <tbody>
      {% for theone in movieList %}
      <tr class="text-center ">
        <td>{{ forloop.counter}}</td>
        <td hidden>{{ theone.videoid }}</td>
        <td>{{ theone.videotitle }}</td>
        <td>
            <a href="{{ theone.videolink }}">链接</a>
          
          <form method="get" action="{% url 'MyWeb:链接' theone.videoid %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary">链接</button>
          </form>
        </td>
        
     {% endfor %}
    

  </tbody>
</table>
        
</div>





{% endblock 主体 %}